@import "../base/variables";


.Redes{
    @include flex(flex, center, center, column);
background-color: rgba(247, 207, 214, 0.582);
width: 100%;
height: 100px;
div{
    img{
        transition: 2s;
        &:hover{
            transform: scale(1.2);
        }
    }
}
}


.Red{
    background-color:  rgba(247, 207, 214, 0.582);
    padding-bottom: 200px;
    @include flex(flex, center, center, column);
    div{
        img{
            transition: 2s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}